In [81]:
import pandas as pd

In [83]:
df = pd.read_csv('C:\\Users\likaw\Documents\GitHub\data-science\HSI\RawData\\futu_hsiFuture_1M.csv')
df.head()

,Unnamed: 0,code,time_key,open,close,high,low,pe_ratio,turnover_rate,volume,turnover,change_rate,last_close
0,0,HK.999010,2019-09-02 09:16:00,25421.0,25394.0,25446.0,25391.0,0.0,0.0,1648,41876076.0,-0.106211,25523.0
1,1,HK.999010,2019-09-02 09:17:00,25393.0,25405.0,25420.0,25391.0,0.0,0.0,715,18164468.0,0.043317,25394.0
2,2,HK.999010,2019-09-02 09:18:00,25403.0,25439.0,25445.0,25403.0,0.0,0.0,993,25255210.0,0.133832,25405.0
3,3,HK.999010,2019-09-02 09:19:00,25439.0,25477.0,25487.0,25435.0,0.0,0.0,1070,27247199.0,0.149377,25439.0
4,4,HK.999010,2019-09-02 09:20:00,25478.0,25457.0,25487.0,25457.0,0.0,0.0,464,11817580.0,-0.078502,25477.0

In [24]:
df3=pd.read_csv('C:\\Users\likaw\Documents\GitHub\data-science\HSI\RawData\hsi future from youtube.csv')
df3.head()

       <Date>    <Time>   <Open>   <High>   <Low>   <Close>   <Volume>
0  2010-02-01  09:46:00    19930    19933   19888     19903   10610428
1  2010-02-01  09:47:00    19903    19910   19876     19886    8750880
2  2010-02-01  09:48:00    19887    19907   19885     19897    5768652
3  2010-02-01  09:49:00    19897    19915   19897     19898    4120219
4  2010-02-01  09:50:00    19900    19907   19880     19899    5669464

In [21]:
df=df[['time_key','open','high','low','close']]
df.head()

              time_key     open     high      low    close
0  2019-09-02 09:16:00  25421.0  25446.0  25391.0  25394.0
1  2019-09-02 09:17:00  25393.0  25420.0  25391.0  25405.0
2  2019-09-02 09:18:00  25403.0  25445.0  25403.0  25439.0
3  2019-09-02 09:19:00  25439.0  25487.0  25435.0  25477.0
4  2019-09-02 09:20:00  25478.0  25487.0  25457.0  25457.0

In [22]:
df4=pd.DataFrame(df.time_key.str.split(' ',1).tolist(),columns=['date','time'])
df4.head()

         date      time
0  2019-09-02  09:16:00
1  2019-09-02  09:17:00
2  2019-09-02  09:18:00
3  2019-09-02  09:19:00
4  2019-09-02  09:20:00

In [23]:
df=df4.join(df).drop(['time_key'],axis=1)
df.head()

         date      time     open     high      low    close
0  2019-09-02  09:16:00  25421.0  25446.0  25391.0  25394.0
1  2019-09-02  09:17:00  25393.0  25420.0  25391.0  25405.0
2  2019-09-02  09:18:00  25403.0  25445.0  25403.0  25439.0
3  2019-09-02  09:19:00  25439.0  25487.0  25435.0  25477.0
4  2019-09-02  09:20:00  25478.0  25487.0  25457.0  25457.0

In [25]:
df5=df3.drop([' <Volume>'],axis=1)
df5.columns

Index(['<Date>', ' <Time>', ' <Open>', ' <High>', ' <Low>', ' <Close>'], dtype='object')

In [26]:
df6=df5.drop(df5[df5['<Date>']=='2019-09-02'].index)

In [27]:
df6.head()

       <Date>    <Time>   <Open>   <High>   <Low>   <Close>
0  2010-02-01  09:46:00    19930    19933   19888     19903
1  2010-02-01  09:47:00    19903    19910   19876     19886
2  2010-02-01  09:48:00    19887    19907   19885     19897
3  2010-02-01  09:49:00    19897    19915   19897     19898
4  2010-02-01  09:50:00    19900    19907   19880     19899

In [28]:
df6=df6.rename(columns={'<Date>':'date',' <Time>':'time', ' <Open>':'open', ' <High>':'high', ' <Low>':'low', ' <Close>':'close'})

In [29]:
df6.columns

Index(['date', 'time', 'open', 'high', 'low', 'close'], dtype='object')

In [32]:
df.columns

Index(['date', 'time', 'open', 'high', 'low', 'close'], dtype='object')

In [33]:
df7=df6.append(df,ignore_index = True)
df7.head()

               date      time     open     high      low    close
0        2010-02-01  09:46:00  19930.0  19933.0  19888.0  19903.0
1        2010-02-01  09:47:00  19903.0  19910.0  19876.0  19886.0
2        2010-02-01  09:48:00  19887.0  19907.0  19885.0  19897.0
3        2010-02-01  09:49:00  19897.0  19915.0  19897.0  19898.0
4        2010-02-01  09:50:00  19900.0  19907.0  19880.0  19899.0
...             ...       ...      ...      ...      ...      ...
1567765  2020-05-21  02:56:00  24494.0  24496.0  24484.0  24486.0
1567766  2020-05-21  02:57:00  24489.0  24490.0  24485.0  24490.0
1567767  2020-05-21  02:58:00  24488.0  24495.0  24488.0  24490.0
1567768  2020-05-21  02:59:00  24491.0  24491.0  24487.0  24489.0
1567769  2020-05-21  03:00:00  24489.0  24491.0  24483.0  24489.0

[1567770 rows x 6 columns]

In [74]:
df8=df7.copy()

In [75]:
df8['date']=df8['date']+' '+df8['time']

In [77]:
df8=df8.drop(['time'],axis=1)

In [78]:
df8.head()

                  date     open     high      low    close
0  2010-02-01 09:46:00  19930.0  19933.0  19888.0  19903.0
1  2010-02-01 09:47:00  19903.0  19910.0  19876.0  19886.0
2  2010-02-01 09:48:00  19887.0  19907.0  19885.0  19897.0
3  2010-02-01 09:49:00  19897.0  19915.0  19897.0  19898.0
4  2010-02-01 09:50:00  19900.0  19907.0  19880.0  19899.0

In [79]:
df8.to_csv('C:\\Users\likaw\Documents\GitHub\data-science\HSI\ProccessedData\hsi future 1M combined from youtube futu.csv',index=False)