In [2]:
import pandas as pd

In [9]:
df=pd.read_csv('C:\\Users\likaw\Documents\GitHub\data-science\HSI\ProccessedData\hsi future 1M combined from youtube futu.csv',index_col=0,parse_dates=True)

In [10]:
df.head()

                        open     high      low    close
date
2010-02-01 09:46:00  19930.0  19933.0  19888.0  19903.0
2010-02-01 09:47:00  19903.0  19910.0  19876.0  19886.0
2010-02-01 09:48:00  19887.0  19907.0  19885.0  19897.0
2010-02-01 09:49:00  19897.0  19915.0  19897.0  19898.0
2010-02-01 09:50:00  19900.0  19907.0  19880.0  19899.0

In [17]:
df2=df.copy()

In [18]:
df2=df2.resample('1H').agg({'open':'first','high':'max','low':'min','close':'last'}).dropna()

In [19]:
df2

                        open     high      low    close
date
2010-02-01 09:00:00  19930.0  19933.0  19866.0  19919.0
2010-02-01 10:00:00  19920.0  19995.0  19817.0  19925.0
2010-02-01 11:00:00  19927.0  19934.0  19795.0  19851.0
2010-02-01 12:00:00  19848.0  19985.0  19830.0  19968.0
2010-02-01 14:00:00  19968.0  20149.0  19968.0  20110.0
...                      ...      ...      ...      ...
2020-05-20 23:00:00  24578.0  24640.0  24564.0  24568.0
2020-05-21 00:00:00  24568.0  24584.0  24453.0  24472.0
2020-05-21 01:00:00  24468.0  24485.0  24377.0  24439.0
2020-05-21 02:00:00  24439.0  24496.0  24430.0  24489.0
2020-05-21 03:00:00  24489.0  24491.0  24483.0  24489.0

[33565 rows x 4 columns]

In [23]:
df3=pd.read_csv('C:\\Users\likaw\Documents\GitHub\data-science\HSI\ProccessedData\hsi future 60M resampled.csv',index_col=0,parse_dates=True)

In [24]:
df3

                      <Open>   <High>    <Low>  <Close>
Date
2010-02-01 09:00:00  19930.0  19933.0  19866.0  19919.0
2010-02-01 10:00:00  19920.0  19995.0  19817.0  19925.0
2010-02-01 11:00:00  19927.0  19934.0  19795.0  19851.0
2010-02-01 12:00:00  19848.0  19985.0  19830.0  19968.0
2010-02-01 14:00:00  19968.0  20149.0  19968.0  20110.0
...                      ...      ...      ...      ...
2020-05-22 23:00:00  22860.0  22898.0  22841.0  22862.0
2020-05-23 00:00:00  22860.0  22872.0  22819.0  22819.0
2020-05-23 01:00:00  22818.0  22838.0  22792.0  22811.0
2020-05-23 02:00:00  22814.0  22835.0  22780.0  22796.0
2020-05-23 03:00:00  22798.0  22800.0  22796.0  22797.0

[33603 rows x 4 columns]